*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing-text{
    font-size: 30px;
    color: blue;
}
.js{
    font-size: 30px;
}
